// http://ionicframework.com/docs/theming/

.results{
	height:auto !important;
}

modal-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

@media not all and (min-height: 600px) and (min-width: 768px) {
  ion-modal ion-backdrop {
    visibility: hidden;
  }
}

@media only screen and (min-height: 0px) and (min-width: 0px) {
  .modal-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.main-view{
   background: transparent;
  }

  .overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: .2;
    background-color: #333;
  }

  .modal_content {
    position: absolute;
    top: calc(50% - (50%/2));
    left: 0;
    right: 0;
    width: 80%;
    height: auto;
    padding: 0px;
    z-index: 100;
    margin: 0 auto;
    color: #333;
    background: #fff !important;
    background: -moz-linear-gradient(top, #fff 0%,  #fff 100%);
    background: -webkit-linear-gradient(top, #fff 0%,  #fff 100%);
    background: linear-gradient(to bottom, #fff 0%,  #fff 100%);
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(51, 51, 51, .35);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow: hidden;
  }

.titleText{
	overflow:auto;
	text-overflow:visible;
	text-align:center;
	margin-top:-14vw;
	height:15vw !important;
}

.title{
	float:center;
}

.card{
	height:10vw;
}

.LGU{
	font-size:7vw !important;
}

.animation{
	height:32vh;
}

.progress{
	height:3vw;
	width:75%;
}

.start{
	background-color:#26de81;
	font-size:4vh;
	height:8vh;
}

.stop{
	background-color:#fc5c65;
	font-size:4vh;
	height:8vh;
}

.topmargin{
	margin-top:0.5vw !important;
}

.logo{
	height:12vw;
}

.scroll-content{
	margin-top:15vw !important;
	height:80vh !important;
}

.searchbar{
	width:100%;
}

.filter{
	margin-right:15% !important;
	width: 30vw !important;
}

.half{
	width:100%;
	background-color:white !important;
	border:1px #8c7ae6 solid !important;
}

.log{
	height:14vw;
}

.logg{
	height:8vw;
}

.logs{
	color:#8c7ae6 !important;
}

.sent{
	color:#26de81;
}

.fail{
	color:#fc5c65;
}

.hidden{
	display:none;
}

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
